html{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    display: none;
  }

.forum{
    background-color :#1F242D;
    min-width : 100vw;
    overflow-x : hidden;
    overflow-y : auto;
    min-height : 100vh;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : white ;
}

.addPost{
    width : 60%;
    padding : 50px;
    border : 2px solid #323549;
    margin-top : 50px;
}

.apTitle{
    margin : 30px;
}

.singlePost{
    padding : 50px;
    border : 2px solid #323549;
    margin-top : 30px;
}

.comments{
    height:  100px;
    overflow-y : auto; 
    border-top : 4px solid #323549;
}

i:hover{
    cursor: pointer;
    transform : scale(1.05);
    transition: 400ms ease;
}
