html{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
  }

.Home{
    background-color :#1F242D;
    min-width : 100vw;
    overflow-x : hidden;
    overflow-y : auto;
    min-height : 100vh;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : white ;
}

.homeContent{
    height : 100%;
    width : 100%;
}

.col-lg-6{
    padding: 60px;
    padding-bottom: 0 !important;
}

.featured{
    height : 700px;
    border : 2px solid #323549;
    border-radius : 5%;
}

.blank{
    height : 30px;
}

.news{
    display: block;
    height : 330px;
    border : 2px solid #323549;
    border-radius: 50px;
}

.watchList{
    display : block;
    height : 330px;
    border : 2px solid #323549;
    border-radius: 50px;
}

.no-padding{
    padding-top: 60px;
    padding-left : 0;
}

.title{
    padding: 40px;
    font-size: 30px;
    font-weight: bold;
}

.actions{
    padding: 40px;
}

.view{
    background-color: #53C7A7;
    color : black;
}

.newsContent-sm{
    padding-left: 50px;
    padding-right: 50px;
}

.featured-items{
    padding: 50px;
    padding-top : 10px;
    padding-bottom: 0;
    height: auto;
}

.featureList{
    padding: 20px;
    border : 2px solid #323549;
    margin-bottom : 30px;
    border-radius: 20px;
    transition: 400ms ease;
}

.featureList:hover, .watchElement:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px 3px 3px #323549;
    cursor : pointer;
}

.lose, .win{
    font-size: 20px;
    text-align: center;
}

.lose{
    color : red !important;
}

.win{
    color : #81A950
}

.search{
    height : 50px;
    width : 200px;
    background : #323549;
    border : none;
    border-radius : 20px;
    padding: 20px;
    margin-right: 20px;
    color : white;
    opacity : 75%;
}

::placeholder {
    color:white;
    opacity: 55%;
}

.watchBox{
    flex-basis: 50%;
    flex-wrap: wrap;
}

.watchElement {
    width : 200px;
    padding : 20px;
    text-align: center;
    border : 2px solid #323549;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    transition : 400ms ease;
}
