.nav{
    padding-top: 10px;
    width : 100vw;
    height: auto;
    border-bottom: 3px solid #323549;
}

.active {
    font-size : 30px;
    text-decoration: none !important;
    color : white;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    padding-top : 10px;
    background-color: #323549;
}

.active:hover{
    color: white
}

.link{
    font-size : 30px;
    text-decoration: none !important;
    color : white;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    padding-top : 10px;
}

.link:hover{
    background-color : #323549;
    transition: 400ms ease;
    color: white;
}

@media (max-width: 768px){
    .active{
        font-size : 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top : 10px;
    }

    .link{
        font-size: 20px;
    }
}
